<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="geotile_fetch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <geotile_fetch.Properties.Settings>
            <setting name="tileurl" serializeAs="String">
                <value>http://cyberjapandata.gsi.go.jp/xyz/std/{0}/{1}/{2}.{3}</value>
            </setting>
            <setting name="filetype" serializeAs="String">
                <value>png</value>
            </setting>
        </geotile_fetch.Properties.Settings>
    </userSettings>
</configuration>